<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Motivo do cacelamento: </strong> {{ problem }}<br />
  <strong>Data que ocorreu: </strong> {{ date }}<br />

  <strong>Produto: </strong> {{ product }}<br />
  <p>Detalhes do endereço de entrega:</p>
  <strong>Nome dos destinatário: </strong> {{ recipient }}<br />
  <strong>Cep: </strong> {{ cep }}<br />
  <strong>Rua: </strong> {{ street }}, {{ number }}<br />
  <strong>Cidade: </strong> {{ city }}<br />
  <strong>Estado: </strong> {{ state }}<br />
  <strong>Complemento: </strong> {{ complement }}<br />
  <br />

  <small>Essa encomenda já está disponível para retirada.</small>
</p>
